<html xmlns:th="http:/www.thymeleaf.org">
<head th:fragment="base" >
    <link type="text/css" rel="stylesheet" th:attr="href=${ERMAS_CP_FULLPATH}+'/ext3/resources/css/ext-all-notheme.css '" />
    <link type="text/css" rel="stylesheet" th:attr="href=${ERMAS_CP_FULLPATH}+'/ext3/resources/css/ext-patch.css '" />
    <link type="text/css" rel="stylesheet" th:attr="href=${ERMAS_CP_FULLPATH}+'/ext3/resources/css/ext-all.css '" />
    <link type="text/css" rel="stylesheet" th:attr="href=${ERMAS_CP_FULLPATH}+'/ext3/ux/css/Portal.css '" />
    <link type="text/css" rel="stylesheet" th:attr="href=${ERMAS_CP_FULLPATH}+'/ext3/ux/css/Ext.ux.UploadDialog.css '" />
    <link type="text/css" rel="stylesheet" th:attr="href=${ERMAS_CP_FULLPATH}+'/css/admin.css '" />
    <link type="text/css" rel="stylesheet" th:attr="href=${ERMAS_CP_FULLPATH}+'/ext3/ux/css/ux-all.css '" />
    <link type="text/css" rel="stylesheet" th:attr="href=${ERMAS_CP_FULLPATH}+'/ext3/ux/caltask/calendar.css '" />
</head>
</html>